.env
/_old_files
/__pycache__
/chroma_db_store
orion_database.sqlite
/misc_scripts/Gather/dataset
/databases
misc_scripts/Gather/best.pt
misc_scripts/Gather/tasks-for-import.json
output.label_config.xml
/misc_scripts/TTS/rvc models
/misc_scripts/TTS/orion_voice
misc_scripts/TTS/cloned_output.wav
*.png
!**/orion_avatar.png
/misc_scripts/TTS/audio_samples
/misc_scripts/TTS/HSR
/misc_scripts/TTS/converted_dataset
/misc_scripts/TTS/audio_logs
*.csv
/misc_scripts/TTS/piper_model
/data/character
/data/piper_models
/misc_scripts/replay/video_replays
*.pt
*.pyc
*.pyc
*.pyc
*.pyc
/main_utils/__pycache__
/text
*.pyc
/debug_frames
data/live_session_state.json
test_utils/live/live_session_state.json
test_utils/data/live_session_state.json
/live/_artifact_files
/backends/data
/backends/debug_frames
/backends/text
/backends/instructions
/data/temp_uploads
frontends/web/.env.production
/tests
/venv_linux
venv_windows/
bot_debug.log
